.m-top-0 {
  margin-top: 0px;
}

.m-top-5 {
  margin-top: 5px;
}

.m-top-10 {
  margin-top: 10px;
}

.m-top-15 {
  margin-top: 15px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-25 {
  margin-top: 25px;
}

.m-top-30 {
  margin-top: 30px;
}

.m-top-35 {
  margin-top: 35px;
}

.m-top-40 {
  margin-top: 40px;
}

.m-top-45 {
  margin-top: 45px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-top-55 {
  margin-top: 55px;
}

.m-top-60 {
  margin-top: 60px;
}

.m-top-65 {
  margin-top: 65px;
}

.m-top-70 {
  margin-top: 70px;
}

.m-top-75 {
  margin-top: 75px;
}

.m-top-80 {
  margin-top: 80px;
}

.m-top-85 {
  margin-top: 85px;
}

.m-top-90 {
  margin-top: 90px;
}

.m-top-95 {
  margin-top: 95px;
}

.m-top-100 {
  margin-top: 100px;
}

.m-top-105 {
  margin-top: 105px;
}

.m-top-110 {
  margin-top: 110px;
}

.m-top-115 {
  margin-top: 115px;
}

.m-top-120 {
  margin-top: 120px;
}

.m-top-125 {
  margin-top: 125px;
}

.m-top-130 {
  margin-top: 130px;
}

.m-top-135 {
  margin-top: 135px;
}

.m-top-140 {
  margin-top: 140px;
}

.m-top-145 {
  margin-top: 145px;
}

.m-top-150 {
  margin-top: 150px;
}

.m-right-0 {
  margin-right: 0px;
}

.m-right-5 {
  margin-right: 5px;
}

.m-right-10 {
  margin-right: 10px;
}

.m-right-15 {
  margin-right: 15px;
}

.m-right-20 {
  margin-right: 20px;
}

.m-right-25 {
  margin-right: 25px;
}

.m-right-30 {
  margin-right: 30px;
}

.m-right-35 {
  margin-right: 35px;
}

.m-right-40 {
  margin-right: 40px;
}

.m-right-45 {
  margin-right: 45px;
}

.m-right-50 {
  margin-right: 50px;
}

.m-right-55 {
  margin-right: 55px;
}

.m-right-60 {
  margin-right: 60px;
}

.m-right-65 {
  margin-right: 65px;
}

.m-right-70 {
  margin-right: 70px;
}

.m-right-75 {
  margin-right: 75px;
}

.m-right-80 {
  margin-right: 80px;
}

.m-right-85 {
  margin-right: 85px;
}

.m-right-90 {
  margin-right: 90px;
}

.m-right-95 {
  margin-right: 95px;
}

.m-right-100 {
  margin-right: 100px;
}

.m-right-105 {
  margin-right: 105px;
}

.m-right-110 {
  margin-right: 110px;
}

.m-right-115 {
  margin-right: 115px;
}

.m-right-120 {
  margin-right: 120px;
}

.m-right-125 {
  margin-right: 125px;
}

.m-right-130 {
  margin-right: 130px;
}

.m-right-135 {
  margin-right: 135px;
}

.m-right-140 {
  margin-right: 140px;
}

.m-right-145 {
  margin-right: 145px;
}

.m-right-150 {
  margin-right: 150px;
}

.m-bottom-0 {
  margin-bottom: 0px;
}

.m-bottom-5 {
  margin-bottom: 5px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

.m-bottom-15 {
  margin-bottom: 15px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.m-bottom-25 {
  margin-bottom: 25px;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.m-bottom-35 {
  margin-bottom: 35px;
}

.m-bottom-40 {
  margin-bottom: 40px;
}

.m-bottom-45 {
  margin-bottom: 45px;
}

.m-bottom-50 {
  margin-bottom: 50px;
}

.m-bottom-55 {
  margin-bottom: 55px;
}

.m-bottom-60 {
  margin-bottom: 60px;
}

.m-bottom-65 {
  margin-bottom: 65px;
}

.m-bottom-70 {
  margin-bottom: 70px;
}

.m-bottom-75 {
  margin-bottom: 75px;
}

.m-bottom-80 {
  margin-bottom: 80px;
}

.m-bottom-85 {
  margin-bottom: 85px;
}

.m-bottom-90 {
  margin-bottom: 90px;
}

.m-bottom-95 {
  margin-bottom: 95px;
}

.m-bottom-100 {
  margin-bottom: 100px;
}

.m-bottom-105 {
  margin-bottom: 105px;
}

.m-bottom-110 {
  margin-bottom: 110px;
}

.m-bottom-115 {
  margin-bottom: 115px;
}

.m-bottom-120 {
  margin-bottom: 120px;
}

.m-bottom-125 {
  margin-bottom: 125px;
}

.m-bottom-130 {
  margin-bottom: 130px;
}

.m-bottom-135 {
  margin-bottom: 135px;
}

.m-bottom-140 {
  margin-bottom: 140px;
}

.m-bottom-145 {
  margin-bottom: 145px;
}

.m-bottom-150 {
  margin-bottom: 150px;
}

.m-left-0 {
  margin-left: 0px;
}

.m-left-5 {
  margin-left: 5px;
}

.m-left-10 {
  margin-left: 10px;
}

.m-left-15 {
  margin-left: 15px;
}

.m-left-20 {
  margin-left: 20px;
}

.m-left-25 {
  margin-left: 25px;
}

.m-left-30 {
  margin-left: 30px;
}

.m-left-35 {
  margin-left: 35px;
}

.m-left-40 {
  margin-left: 40px;
}

.m-left-45 {
  margin-left: 45px;
}

.m-left-50 {
  margin-left: 50px;
}

.m-left-55 {
  margin-left: 55px;
}

.m-left-60 {
  margin-left: 60px;
}

.m-left-65 {
  margin-left: 65px;
}

.m-left-70 {
  margin-left: 70px;
}

.m-left-75 {
  margin-left: 75px;
}

.m-left-80 {
  margin-left: 80px;
}

.m-left-85 {
  margin-left: 85px;
}

.m-left-90 {
  margin-left: 90px;
}

.m-left-95 {
  margin-left: 95px;
}

.m-left-100 {
  margin-left: 100px;
}

.m-left-105 {
  margin-left: 105px;
}

.m-left-110 {
  margin-left: 110px;
}

.m-left-115 {
  margin-left: 115px;
}

.m-left-120 {
  margin-left: 120px;
}

.m-left-125 {
  margin-left: 125px;
}

.m-left-130 {
  margin-left: 130px;
}

.m-left-135 {
  margin-left: 135px;
}

.m-left-140 {
  margin-left: 140px;
}

.m-left-145 {
  margin-left: 145px;
}

.m-left-150 {
  margin-left: 150px;
}

.p-left-0 {
  padding-left: 0px;
}

.p-left-5 {
  padding-left: 5px;
}

.p-left-10 {
  padding-left: 10px;
}

.p-left-15 {
  padding-left: 15px;
}

.p-left-20 {
  padding-left: 20px;
}

.p-left-25 {
  padding-left: 25px;
}

.p-left-30 {
  padding-left: 30px;
}

.p-left-35 {
  padding-left: 35px;
}

.p-left-40 {
  padding-left: 40px;
}

.p-left-45 {
  padding-left: 45px;
}

.p-left-50 {
  padding-left: 50px;
}

.p-left-55 {
  padding-left: 55px;
}

.p-left-60 {
  padding-left: 60px;
}

.p-left-65 {
  padding-left: 65px;
}

.p-left-70 {
  padding-left: 70px;
}

.p-left-75 {
  padding-left: 75px;
}

.p-left-80 {
  padding-left: 80px;
}

.p-left-85 {
  padding-left: 85px;
}

.p-left-90 {
  padding-left: 90px;
}

.p-left-95 {
  padding-left: 95px;
}

.p-left-100 {
  padding-left: 100px;
}

.p-left-105 {
  padding-left: 105px;
}

.p-left-110 {
  padding-left: 110px;
}

.p-left-115 {
  padding-left: 115px;
}

.p-left-120 {
  padding-left: 120px;
}

.p-left-125 {
  padding-left: 125px;
}

.p-left-130 {
  padding-left: 130px;
}

.p-left-135 {
  padding-left: 135px;
}

.p-left-140 {
  padding-left: 140px;
}

.p-left-145 {
  padding-left: 145px;
}

.p-left-150 {
  padding-left: 150px;
}

.p-right-0 {
  padding-right: 0px;
}

.p-right-5 {
  padding-right: 5px;
}

.p-right-10 {
  padding-right: 10px;
}

.p-right-15 {
  padding-right: 15px;
}

.p-right-20 {
  padding-right: 20px;
}

.p-right-25 {
  padding-right: 25px;
}

.p-right-30 {
  padding-right: 30px;
}

.p-right-35 {
  padding-right: 35px;
}

.p-right-40 {
  padding-right: 40px;
}

.p-right-45 {
  padding-right: 45px;
}

.p-right-50 {
  padding-right: 50px;
}

.p-right-55 {
  padding-right: 55px;
}

.p-right-60 {
  padding-right: 60px;
}

.p-right-65 {
  padding-right: 65px;
}

.p-right-70 {
  padding-right: 70px;
}

.p-right-75 {
  padding-right: 75px;
}

.p-right-80 {
  padding-right: 80px;
}

.p-right-85 {
  padding-right: 85px;
}

.p-right-90 {
  padding-right: 90px;
}

.p-right-95 {
  padding-right: 95px;
}

.p-right-100 {
  padding-right: 100px;
}

.p-right-105 {
  padding-right: 105px;
}

.p-right-110 {
  padding-right: 110px;
}

.p-right-115 {
  padding-right: 115px;
}

.p-right-120 {
  padding-right: 120px;
}

.p-right-125 {
  padding-right: 125px;
}

.p-right-130 {
  padding-right: 130px;
}

.p-right-135 {
  padding-right: 135px;
}

.p-right-140 {
  padding-right: 140px;
}

.p-right-145 {
  padding-right: 145px;
}

.p-right-150 {
  padding-right: 150px;
}

.p-top-0 {
  padding-top: 0px;
}

.p-top-5 {
  padding-top: 5px;
}

.p-top-10 {
  padding-top: 10px;
}

.p-top-15 {
  padding-top: 15px;
}

.p-top-20 {
  padding-top: 20px;
}

.p-top-25 {
  padding-top: 25px;
}

.p-top-30 {
  padding-top: 30px;
}

.p-top-35 {
  padding-top: 35px;
}

.p-top-40 {
  padding-top: 40px;
}

.p-top-45 {
  padding-top: 45px;
}

.p-top-50 {
  padding-top: 50px;
}

.p-top-55 {
  padding-top: 55px;
}

.p-top-60 {
  padding-top: 60px;
}

.p-top-65 {
  padding-top: 65px;
}

.p-top-70 {
  padding-top: 70px;
}

.p-top-75 {
  padding-top: 75px;
}

.p-top-80 {
  padding-top: 80px;
}

.p-top-85 {
  padding-top: 85px;
}

.p-top-90 {
  padding-top: 90px;
}

.p-top-95 {
  padding-top: 95px;
}

.p-top-100 {
  padding-top: 100px;
}

.p-top-105 {
  padding-top: 105px;
}

.p-top-110 {
  padding-top: 110px;
}

.p-top-115 {
  padding-top: 115px;
}

.p-top-120 {
  padding-top: 120px;
}

.p-top-125 {
  padding-top: 125px;
}

.p-top-130 {
  padding-top: 130px;
}

.p-top-135 {
  padding-top: 135px;
}

.p-top-140 {
  padding-top: 140px;
}

.p-top-145 {
  padding-top: 145px;
}

.p-top-150 {
  padding-top: 150px;
}

.p-bottom-0 {
  padding-bottom: 0px;
}

.p-bottom-5 {
  padding-bottom: 5px;
}

.p-bottom-10 {
  padding-bottom: 10px;
}

.p-bottom-15 {
  padding-bottom: 15px;
}

.p-bottom-20 {
  padding-bottom: 20px;
}

.p-bottom-25 {
  padding-bottom: 25px;
}

.p-bottom-30 {
  padding-bottom: 30px;
}

.p-bottom-35 {
  padding-bottom: 35px;
}

.p-bottom-40 {
  padding-bottom: 40px;
}

.p-bottom-45 {
  padding-bottom: 45px;
}

.p-bottom-50 {
  padding-bottom: 50px;
}

.p-bottom-55 {
  padding-bottom: 55px;
}

.p-bottom-60 {
  padding-bottom: 60px;
}

.p-bottom-65 {
  padding-bottom: 65px;
}

.p-bottom-70 {
  padding-bottom: 70px;
}

.p-bottom-75 {
  padding-bottom: 75px;
}

.p-bottom-80 {
  padding-bottom: 80px;
}

.p-bottom-85 {
  padding-bottom: 85px;
}

.p-bottom-90 {
  padding-bottom: 90px;
}

.p-bottom-95 {
  padding-bottom: 95px;
}

.p-bottom-100 {
  padding-bottom: 100px;
}

.p-bottom-105 {
  padding-bottom: 105px;
}

.p-bottom-110 {
  padding-bottom: 110px;
}

.p-bottom-115 {
  padding-bottom: 115px;
}

.p-bottom-120 {
  padding-bottom: 120px;
}

.p-bottom-125 {
  padding-bottom: 125px;
}

.p-bottom-130 {
  padding-bottom: 130px;
}

.p-bottom-135 {
  padding-bottom: 135px;
}

.p-bottom-140 {
  padding-bottom: 140px;
}

.p-bottom-145 {
  padding-bottom: 145px;
}

.p-bottom-150 {
  padding-bottom: 150px;
}

.icon-10x10 {
  width: 10px;
  height: 10px;
}

.icon-20x20 {
  width: 20px;
  height: 20px;
}

.icon-30x30 {
  width: 30px;
  height: 30px;
}

.icon-40x40 {
  width: 40px;
  height: 40px;
}

.icon-50x50 {
  width: 50px;
  height: 50px;
}

.icon-60x60 {
  width: 60px;
  height: 60px;
}

.icon-70x70 {
  width: 70px;
  height: 70px;
}

.icon-80x80 {
  width: 80px;
  height: 80px;
}

.icon-90x90 {
  width: 90px;
  height: 90px;
}

.icon-100x100 {
  width: 100px;
  height: 100px;
}

.color-primary, .post-author .author-info h5 span, .post-pagination .prev-post .title:hover,
.post-pagination .next-post .title:hover {
  color: #ff458a;
}

.bg-primary, .pagination-area .pagination .page-item.active .page-link, .pagination-area .pagination .page-item.active .page-link:hover, .owl-dots .owl-dot.active span, .owl-dots.dot-secondary .owl-dot.active span, .post-bottom .tags ul li a:hover, .comments-area .comment-lists ul .depth-1 .media .media-body .media_top .reply:hover {
  background: #ff458a;
}

.outline-primary {
  border: 1px solid #ff458a;
  color: #ff458a;
}

.color-secondary {
  color: #9248e9;
}

.bg-secondary {
  background: #9248e9;
}

.outline-secondary {
  border: 1px solid #9248e9;
  color: #9248e9;
}

.color-success {
  color: #2dd46f;
}

.bg-success {
  background: #2dd46f;
}

.outline-success {
  border: 1px solid #2dd46f;
  color: #2dd46f;
}

.color-info, .post-pagination .prev-post p a,
.post-pagination .next-post p a {
  color: #3b7cfd;
}

.bg-info {
  background: #3b7cfd;
}

.outline-info {
  border: 1px solid #3b7cfd;
  color: #3b7cfd;
}

.color-warning {
  color: #fa8b0c;
}

.bg-warning {
  background: #fa8b0c;
}

.outline-warning {
  border: 1px solid #fa8b0c;
  color: #fa8b0c;
}

.color-danger {
  color: #ff2640;
}

.bg-danger {
  background: #ff2640;
}

.outline-danger {
  border: 1px solid #ff2640;
  color: #ff2640;
}

.color-light, .pagination-area .pagination .page-item.active .page-link, .blockquote.blockquote4 p, .blockquote.blockquote4 .quote-author span, .post-bottom .tags ul li a:hover, .comments-area .comment-lists ul .depth-1 .media .media-body .media_top .reply:hover {
  color: #f5f7fc;
}

.bg-light, .pagination-area .pagination .page-link:hover, .blockquote .quote-author p:before {
  background: #f5f7fc;
}

.outline-light {
  border: 1px solid #f5f7fc;
  color: #f5f7fc;
}

.color-dark, .blockquote p, .blockquote .quote-author p span, .post-author .author-info h5, .post-pagination .prev-post .title,
.post-pagination .next-post .title, .comment-form .blog-comment-title h5 {
  color: #272b41;
}

.bg-dark {
  background: #272b41;
}

.outline-dark {
  border: 1px solid #272b41;
  color: #272b41;
}

ul {
  list-style: none;
  padding: 0;
}

ol {
  padding: 0 0 0 15px;
}

.pre-loader {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.pre-loader .spinner {
  position: absolute;
  top: 40%;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-color: #ff458a;
  -webkit-animation-name: stretch;
          animation-name: stretch;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes stretch {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: #ff458a;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
  25% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background-color: #9248e9;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    background-color: #3b7cfd;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #2dd46f;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
}

@keyframes stretch {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: #ff458a;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
  25% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background-color: #9248e9;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    background-color: #3b7cfd;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #2dd46f;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
}

.gradient-one {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff458a), to(#9248e9));
  background-image: -webkit-linear-gradient(left, #ff458a, #9248e9);
  background-image: -o-linear-gradient(left, #ff458a, #9248e9);
  background-image: linear-gradient(to right, #ff458a, #9248e9);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 150px;
}

.gradient-one:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff458a), to(#9248e9));
  background-image: -webkit-linear-gradient(right, #ff458a, #9248e9);
  background-image: -o-linear-gradient(right, #ff458a, #9248e9);
  background-image: linear-gradient(to left, #ff458a, #9248e9);
}

.gradient-two {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff458a), to(#fa8b0c));
  background-image: -webkit-linear-gradient(left, #ff458a, #fa8b0c);
  background-image: -o-linear-gradient(left, #ff458a, #fa8b0c);
  background-image: linear-gradient(to right, #ff458a, #fa8b0c);
  width: 195px;
}

.gradient-two:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff458a), to(#fa8b0c));
  background-image: -webkit-linear-gradient(right, #ff458a, #fa8b0c);
  background-image: -o-linear-gradient(right, #ff458a, #fa8b0c);
  background-image: linear-gradient(to left, #ff458a, #fa8b0c);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn {
  height: 50px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn i {
  background: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #ff458a;
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  font-size: 15px;
  text-align: center;
}

.card .blog-title {
  border-bottom: 1px solid #e3e6ef;
  padding-bottom: 1.33333rem;
  margin-bottom: 1.33333rem;
}

.card-body {
  position: relative;
  -webkit-box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
          box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
  -webkit-border-radius: 0.2rem;
          border-radius: 0.2rem;
  padding: 25px 30px;
}

.card-body h4 {
  font-weight: 500;
}

.card-body .badge {
  color: #ffffff;
}

.card-body p {
  line-height: 28px;
}

.shape:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background: transparent;
  top: 0;
  left: 0;
  -webkit-border-bottom-right-radius: 100%;
          border-bottom-right-radius: 100%;
  border-right: 20px solid #F9F6FE;
  border-bottom: 20px solid #F9F6FE;
}

.shape:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: transparent;
  top: 0;
  left: 0;
  -webkit-border-bottom-right-radius: 100%;
          border-bottom-right-radius: 100%;
  border-right: 20px solid #FFF6F9;
  border-bottom: 20px solid #FFF6F9;
}

.shape-2:before, .shape-2:after {
  left: 15px;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
  color: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.unrotate {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon1 i,
.icon2 i,
.icon3 i,
.icon4 i,
.icon5 i,
.icon6 i {
  font-size: 40px;
  line-height: 80px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#9248e9), to(#ff458a));
  background-image: -webkit-linear-gradient(left, #9248e9, #ff458a);
  background-image: -o-linear-gradient(left, #9248e9, #ff458a);
  background-image: linear-gradient(to right, #9248e9, #ff458a);
}

.icon2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#3b7cfd), to(#9248e9));
  background-image: -webkit-linear-gradient(left, #3b7cfd, #9248e9);
  background-image: -o-linear-gradient(left, #3b7cfd, #9248e9);
  background-image: linear-gradient(to right, #3b7cfd, #9248e9);
}

.icon3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff458a), to(#fa8b0c));
  background-image: -webkit-linear-gradient(left, #ff458a, #fa8b0c);
  background-image: -o-linear-gradient(left, #ff458a, #fa8b0c);
  background-image: linear-gradient(to right, #ff458a, #fa8b0c);
}

.icon4 {
  background-image: -webkit-gradient(linear, left top, right top, from(#3b7cfd), to(#2dd46f));
  background-image: -webkit-linear-gradient(left, #3b7cfd, #2dd46f);
  background-image: -o-linear-gradient(left, #3b7cfd, #2dd46f);
  background-image: linear-gradient(to right, #3b7cfd, #2dd46f);
}

.icon5 {
  background-image: -webkit-gradient(linear, left top, right top, from(#3A7DFD), to(#0ad9fe));
  background-image: -webkit-linear-gradient(left, #3A7DFD, #0ad9fe);
  background-image: -o-linear-gradient(left, #3A7DFD, #0ad9fe);
  background-image: linear-gradient(to right, #3A7DFD, #0ad9fe);
}

.icon6 {
  background-image: -webkit-gradient(linear, left top, right top, from(#9248e9), to(#db7aff));
  background-image: -webkit-linear-gradient(left, #9248e9, #db7aff);
  background-image: -o-linear-gradient(left, #9248e9, #db7aff);
  background-image: linear-gradient(to right, #9248e9, #db7aff);
}

/* social css */
.social ul {
  list-style: none;
}

.social ul li {
  margin-right: 0.66667rem;
}

.social ul li:last-child {
  margin-right: 0;
}

.social ul li a {
  line-height: 2.66667rem;
  width: 2.53333rem;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 33.33333rem;
          border-radius: 33.33333rem;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.social ul li a i {
  font-size: 1rem;
}

.social ul li a:hover {
  background-color: #ff458a;
  color: #fff;
}

.social-2 ul li a {
  background: rgba(255, 69, 138, 0.2);
  color: #ff458a;
}

.titile {
  font-size: 150px;
  line-height: 2.125rem;
  margin-top: 35px;
  opacity: 0.05;
  color: #9248e9;
  text-transform: uppercase;
  font-weight: 600;
}

/* pagination css */
.pagination-area .pagination .page-item:first-child .page-link, .pagination-area .pagination .page-item:last-child .page-link {
  color: #7a82a6;
}

.pagination-area .pagination .page-item:first-child .page-link {
  -webkit-border-top-left-radius: 0.2rem;
          border-top-left-radius: 0.2rem;
  -webkit-border-bottom-left-radius: 0.2rem;
          border-bottom-left-radius: 0.2rem;
}

.pagination-area .pagination .page-item:last-child .page-link {
  -webkit-border-top-right-radius: 0.2rem;
          border-top-right-radius: 0.2rem;
  -webkit-border-bottom-right-radius: 0.2rem;
          border-bottom-right-radius: 0.2rem;
}

.pagination-area .pagination .page-item.active .page-link {
  border-color: #ff458a;
}

.pagination-area .pagination .page-link {
  color: #272b41;
}

.pagination-area .pagination .page-link:hover {
  border-color: #ff458a;
}

.pagination-area .pagination .page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pagination-area .pagination.pagination-rounded .page-item {
  margin-right: 0.66rem;
}

.pagination-area .pagination.pagination-rounded .page-item:last-child {
  margin-right: 0;
}

.pagination-area .pagination.pagination-rounded .page-link {
  -webkit-border-radius: 50% !important;
          border-radius: 50% !important;
  width: 2.66667rem;
  height: 2.66667rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}

nav {
  font-size: 0.875rem;
  line-height: 2.125rem;
}

nav .nav-item .nav-link:hover {
  color: #ff458a !important;
}

nav .active .nav-link {
  color: #ff458a !important;
}

.is-sticky nav {
  background: #9248e9;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  padding: 10px;
}

.is-sticky nav .nav-link {
  color: #ffffff !important;
}

.is-sticky nav .nav-link:hover {
  color: #bbbfd3 !important;
}

/* Dropdown Menu */
.dropdown .dropdown-menu {
  display: block;
  top: 70px !important;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 30px rgba(41, 41, 59, 0.1);
          box-shadow: 0 0 30px rgba(41, 41, 59, 0.1);
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
}

.dropdown .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropdown-menu {
  top: 50px !important;
  opacity: 1;
  visibility: visible;
}

.heading_style1 span {
  font-size: 3rem;
  line-height: 2.375rem;
  color: rgba(39, 43, 65, 0.2);
  font-weight: 600;
}

.heading_style1 h1 {
  font-size: 60px;
  line-height: 2.375rem;
}

.heading_style1 h1 span {
  color: #ff458a;
}

.heading_style1 p {
  line-height: 2.125rem;
}

.heading_style2 {
  position: relative;
}

.heading_style2 .image-shape {
  position: absolute;
  top: 0;
}

.progress {
  background: #ffffff;
  z-index: 3;
  line-height: 1.3rem;
}

.progress-shape {
  position: relative;
}

.progress-shape:before {
  position: absolute;
  content: "";
  left: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
  background: transparent;
  border: 10px solid rgba(255, 69, 138, 0.05);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.progress-shape:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 5%;
  width: 50%;
  height: 11%;
  background: #ffffff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.progress-shape-2 {
  position: relative;
}

.progress-shape-2:before {
  position: absolute;
  content: "";
  left: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
  background: transparent;
  border: 10px solid rgba(255, 69, 138, 0.05);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.progress-shape-2:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 5%;
  width: 50%;
  height: 10%;
  background: #ffffff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.progress {
  position: relative;
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
          box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.progress .progress-text, .progress h6 {
  position: absolute;
  color: #7a82a6;
  font-size: 15px;
  font-weight: 500;
}

.progress .progress-text span, .progress h6 span {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
}

.progress .progress-text .count-one, .progress h6 .count-one {
  color: #ff458a;
}

.progress .progress-text .count-two, .progress h6 .count-two {
  color: #9248e9;
}

.progress .progress-text .count-three, .progress h6 .count-three {
  color: #2dd46f;
}

#progress1,
#progress2,
#progress3 {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
          box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 10px;
  z-index: 3;
}

#progress1 .progress-text, #progress1 h6,
#progress2 .progress-text,
#progress2 h6,
#progress3 .progress-text,
#progress3 h6 {
  position: absolute;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  text-align: center;
  color: #7a82a6;
}

#progress1 .progress-text span, #progress1 h6 span,
#progress2 .progress-text span,
#progress2 h6 span,
#progress3 .progress-text span,
#progress3 h6 span {
  display: inline-block;
  font-size: 2.5rem;
}

#progress1 .progress-text .count-one, #progress1 h6 .count-one,
#progress2 .progress-text .count-one,
#progress2 h6 .count-one,
#progress3 .progress-text .count-one,
#progress3 h6 .count-one {
  color: #ff458a;
}

#progress1 .progress-text .count-two, #progress1 h6 .count-two,
#progress2 .progress-text .count-two,
#progress2 h6 .count-two,
#progress3 .progress-text .count-two,
#progress3 h6 .count-two {
  color: #9248e9;
}

#progress1 .progress-text .count-three, #progress1 h6 .count-three,
#progress2 .progress-text .count-three,
#progress2 h6 .count-three,
#progress3 .progress-text .count-three,
#progress3 h6 .count-three {
  color: #2dd46f;
}

#progress4,
#progress6 {
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg);
}

#progress4 h6,
#progress6 h6 {
  -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.counter {
  position: relative;
  background-image: url(img/curve-bg2.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 1;
}

/* Start_carousel_one */
.carousel-single-wrapper {
  background-image: -webkit-gradient(linear, left top, right top, from(#9248e9), to(#ff458a));
  background-image: -webkit-linear-gradient(left, #9248e9, #ff458a);
  background-image: -o-linear-gradient(left, #9248e9, #ff458a);
  background-image: linear-gradient(to right, #9248e9, #ff458a);
}

.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}

.carousel-one-img {
  width: 100%;
  background: #ffffff;
}

.carousel-single-inner {
  padding: 2.66rem;
  padding-right: 0;
  color: #fff;
}

.carousel-single-inner .google {
  color: #fff;
  line-height: 34px;
}

.carousel-single-inner span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 34px;
}

.carousel-single-inner h2 {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
}

.carousel-single-inner p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 28px;
}

.owl-dots {
  text-align: center;
  margin-top: 18px;
}

.owl-dots .owl-dot {
  display: inline-block;
  margin-right: 10px;
}

.owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.owl-dots .owl-dot:focus {
  outline: 0;
}

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 300px;
          border-radius: 300px;
  background: rgba(255, 69, 138, 0.2);
  display: inline-block;
}

.owl-dots.dot-secondary .owl-dot span {
  border: 0 none;
  background: rgba(255, 69, 138, 0.2);
}

.owl-dots.dot-secondary .owl-dot.active span {
  width: 20px;
}

/* End_carousel_one */
/* Start_carousel_two */
.owl-carousel {
  position: relative;
}

.owl-carousel .carousel-two-img img {
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.owl-item .card {
  position: relative;
  cursor: pointer;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.owl-item .card .carousel-two-img span,
.owl-item .card .carousel-two-details {
  visibility: hidden;
}

.owl-item.center .card {
  cursor: auto;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 3;
}

.owl-item.center .card .carousel-two-img span,
.owl-item.center .card .carousel-two-details {
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
}

.carousel-two-img {
  z-index: 1;
}

.carousel-two-img span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel-two-img span i {
  background: #9248e9;
  padding: 8px;
  color: #ffffff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 1rem;
}

.carousel-two-details {
  padding: 1rem 1.875rem;
  -webkit-box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
          box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
}

.carousel-two-details h4 {
  font-weight: 500;
}

.carousel-two-details p {
  line-height: 34px;
}

.owl-prev,
.owl-next {
  position: absolute;
  bottom: 16%;
  -webkit-transform: translate(15%, -20%);
      -ms-transform: translate(15%, -20%);
          transform: translate(15%, -20%);
}

.owl-prev:focus,
.owl-next:focus {
  outline: none;
}

.owl-prev i,
.owl-next i {
  background: rgba(255, 69, 138, 0.1);
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #ff458a;
  font-size: 1.07rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-prev i:hover,
.owl-next i:hover {
  background: #ff458a;
  color: #ffffff;
}

.owl-prev {
  left: 10%;
}

.owl-next {
  right: 10%;
}

/* End_carousel_two */
/* Start_testimonial */
.testimonial {
  position: relative;
  background-color: #f9f8fb;
}

.testimonial .img-shape {
  position: absolute;
  right: 0;
  top: 50%;
  width: 90%;
  height: 100%;
}

.testimonial h6 {
  line-height: 28px;
}

.testimonial h6 span {
  color: #ff458a;
  font-size: 15px;
}

.testimonial .testimonial-single-inner p {
  font-size: 18px;
  line-height: 36px;
}

/* end_testimonial */
.blockquote {
  border: 1px solid #e3e6ef;
  padding: 2.5rem 3.33333rem;
  -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem;
  margin: 0;
}

.blockquote p {
  margin: 0;
  font-size: 1.33rem;
  line-height: 2.4rem;
}

.blockquote .quote-author {
  margin-top: 1.66rem;
}

.blockquote .quote-author p {
  font-size: 1rem;
  line-height: 2rem;
  color: #bbbfd3;
  position: relative;
  display: inline-block;
  padding-left: 3.66667rem;
}

.blockquote .quote-author p:before {
  position: absolute;
  content: "";
  width: 2.66667rem;
  height: 2px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blockquote.blockquote4 {
  border: 0 none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ff2640), to(#fa8b0c));
  background: -webkit-linear-gradient(left, #ff2640, #fa8b0c);
  background: -o-linear-gradient(left, #ff2640, #fa8b0c);
  background: linear-gradient(to right, #ff2640, #fa8b0c);
}

.blockquote.blockquote4 .quote-author p {
  color: rgba(245, 247, 252, 0.7);
}

/* Blog Grid */
.blog h4 {
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 26px;
  margin-top: 10px;
}

.blog h4:hover {
  color: #ff458a;
}

.blog-grid-one-content span {
  margin-left: 15px;
}

/* post-bottom */
.post-bottom {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-top: 1px solid #e3e6ef;
  border-bottom: 1px solid #e3e6ef;
  margin: 45px 0 70px 0;
}

.post-bottom .tags {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post-bottom .tags ul li {
  margin-right: 0.66667rem;
}

.post-bottom .tags ul li:last-child {
  margin-right: 0;
}

.post-bottom .tags ul li a {
  line-height: 1.86667rem;
  display: block;
  border: 1px solid #e3e6ef;
  -webkit-border-radius: 0.2rem;
          border-radius: 0.2rem;
  padding: 0 0.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #7a82a6;
  font-size: 0.93333rem;
}

.post-bottom .tags ul li a:hover {
  border-color: #ff458a;
}

/* post-author */
.post-author {
  padding: 2.66667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}

.post-author .author-thumb {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post-author .author-info {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.post-author .author-info h5 {
  margin-bottom: 1rem;
}

/* post-pagination */
.post-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e3e6ef;
  padding-bottom: 4rem;
}

.post-pagination .prev-post,
.post-pagination .next-post {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post-pagination .prev-post > span,
.post-pagination .next-post > span {
  display: block;
}

.post-pagination .prev-post .title,
.post-pagination .next-post .title {
  font-size: 16px;
  font-weight: 500;
  margin: 0.66667rem 0;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.post-pagination .prev-post p,
.post-pagination .next-post p {
  margin: 0;
}

.post-pagination .next-post {
  text-align: right;
}

.post-pagination span {
  margin: 0;
}

/* related-post */
.related-post {
  border-bottom: 1px solid #e3e6ef;
  padding-bottom: 4rem;
}

.related-post .single-post h6 {
  padding-top: 15px;
}

/* comments-area */
.comments-area .comment-title {
  margin-bottom: 1.66667rem;
  text-align: center;
}

.comments-area .comment-title h3 {
  position: relative;
  margin-bottom: 0;
}

.comments-area .comment-lists ul .depth-1 {
  padding: 2rem 2rem 1.6rem;
  border: 1px solid #e3e6ef;
  -webkit-border-radius: 0.26667rem;
          border-radius: 0.26667rem;
  margin-bottom: 2rem;
}

.comments-area .comment-lists ul .depth-1:last-child {
  margin-bottom: 0;
}

.comments-area .comment-lists ul .depth-1 .media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.comments-area .comment-lists ul .depth-1 .media .media-body {
  margin-left: 25px;
}

.comments-area .comment-lists ul .depth-1 .media .media-body .media_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.comments-area .comment-lists ul .depth-1 .media .media-body .media_top h6 {
  margin-bottom: 0.46667rem;
}

.comments-area .comment-lists ul .depth-1 .media .media-body .media_top .reply {
  border: 1px solid #e3e6ef;
  color: #7a82a6;
  line-height: 34px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.comments-area .comment-lists ul .depth-1 .media .media-body .media_top .reply:hover {
  border-color: #ff458a;
}

.comments-area .comment-lists ul .depth-1 .media p {
  margin: 0;
}

.comments-area .comment-lists ul .depth-1 .depth-2 {
  padding-left: 40px;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e3e6ef;
}

/* comment-form */
.comment-form {
  padding: 45px 40px;
}

.comment-form .blog-comment-title h5 {
  margin-bottom: 10px;
}

.comment-form form textarea {
  height: 125px;
}

.footer {
  position: relative;
  background-image: url(img/footer.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.footer .footer-wrapper {
  -webkit-box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
  box-shadow: 0 5px 30px rgba(125, 110, 144, 0.15);
}

.footer .footer-wrapper .footer-shape:before {
  width: 150px;
  height: 150px;
}

.footer .footer-wrapper .footer-shape:after {
  width: 80px;
  height: 80px;
}

.footer .footer-wrapper .footer-icon {
  background: rgba(255, 69, 138, 0.1);
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 1;
}

.footer .footer-wrapper .footer-icon i {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff458a), to(#9248e9));
  background-image: -webkit-linear-gradient(left, #ff458a, #9248e9);
  background-image: -o-linear-gradient(left, #ff458a, #9248e9);
  background-image: linear-gradient(to right, #ff458a, #9248e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  line-height: 60px;
}

.footer .copy-right {
  color: rgba(255, 255, 255, 0.6);
}

.footer-2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff458a), to(#9248e9));
  background-image: -webkit-linear-gradient(left, #ff458a, #9248e9);
  background-image: -o-linear-gradient(left, #ff458a, #9248e9);
  background-image: linear-gradient(to right, #ff458a, #9248e9);
}

.footer-2 p {
  color: rgba(255, 255, 255, 0.6);
}

html {
  scroll-behavior: smooth;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

#sticker-sticky-wrapper {
  position: absolute;
  z-index: 1020;
  width: 100%;
}

.intro-area {
  background: #f9f8fb;
  position: relative;
  height: 100vh;
}

.intro-area .one {
  position: absolute;
  top: 0;
}

.intro-area .two {
  position: absolute;
  right: 0;
  top: 15%;
}

.intro-area .three {
  position: absolute;
  right: 0;
  bottom: -29%;
  z-index: 1;
}

.history {
  position: relative;
  background-image: url(img/curve-bg1.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: auto;
}

.history .img-shape {
  position: absolute;
  left: 0;
  top: -25%;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
}

.blog-page {
  height: 400px;
  position: relative;
  background-image: url(img/breadbg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.blog-page::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.7;
}

.blog-page .page_title {
  font-size: 1.6rem;
  color: #272b41;
}

/*****************************
	RESPONSIVE
*****************************/
/*this is responsive scss*/
/* ========================
    992 TO 1199
=========================== */
@media (min-width: 992px) and (max-width: 1199px) {
  .titile {
    font-size: 139px;
  }
}

/* =======================
  991
========================== */
@media (max-width: 991px) {
  /* Intro - area */
  .intro-area .one {
    width: 30%;
  }
  .navbar {
    background: #9248e9;
  }
  .navbar .nav-item {
    padding: 10px 0;
  }
  .navbar .nav-item .nav-link {
    color: #ffffff !important;
    font-size: 16px;
  }
  .navbar span {
    color: #ff458a;
  }
  .dropdown .dropdown-menu {
    display: none;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  .dropdown .dropdown-menu.show {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .carousel-one .carousel-single-inner {
    padding-right: 25px;
  }
  .progress {
    margin-top: 0;
  }
}

/* =======================
  768 TO 991
========================== */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14.5px;
  }
  .titile {
    font-size: 80px;
  }
}

/* =======================
  767
========================== */
@media screen and (max-width: 767px) {
  .intro-area {
    min-height: 1000px;
  }
  .intro-area .one {
    width: 40%;
  }
  .titile {
    font-size: 80px;
  }
  .heading_style1 {
    margin-top: 100px;
  }
  .service {
    padding-top: 50px;
  }
  .carousel-one-img {
    padding: 50px 0;
  }
  .footer-wrapper {
    padding: 15px;
  }
  .footer-wrapper .shape-2:before {
    width: 100px !important;
    height: 100px !important;
  }
  .footer-wrapper .shape-2:after {
    width: 50px !important;
    height: 50px !important;
  }
}

@media screen and (max-width: 479px) {
  html {
    font-size: 13px;
  }
  .titile {
    font-size: 80px;
  }
}

/* ======================
  480 TO 575
========================= */
@media (min-width: 480px) and (max-width: 575px) {
  html {
    font-size: 14px;
  }
  .titile {
    font-size: 80px;
  }
  .carousel-two-img span {
    right: 10%;
  }
  .carousel-two-details {
    padding: 20px 50px !important;
  }
  .owl-nav .owl-prev {
    position: absolute;
    bottom: -10%;
  }
  .owl-nav .owl-next {
    position: absolute;
    bottom: -10%;
  }
}

/* ======================
  320 TO 576
========================= */
@media (min-width: 320px) and (max-width: 575.98px) {
  .intro-area {
    min-height: 850px;
  }
  .heading_style1 {
    margin-bottom: 50px;
  }
  .heading_style1 h1 {
    font-size: 40px;
  }
  .heading_style1 h1 span {
    color: #ff458a;
  }
  .heading_style1 p {
    line-height: 2.125rem;
    font-size: 14px;
  }
  .carousel-two-details {
    padding: 1.8rem 3rem;
  }
  .titile {
    font-size: 50px;
  }
  .carousel-two-img span {
    right: 10%;
  }
  .owl-nav .owl-prev {
    position: absolute;
    bottom: -10%;
  }
  .owl-nav .owl-next {
    position: absolute;
    bottom: -10%;
  }
}

/*# sourceMappingURL=maps/style.css.map */